[Unit]
Description=HS ML Crypto Trading Bot
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/fast-ws-bot-main
ExecStart=/bin/bash -c 'source /root/fast-ws-bot-main.
Restart=always
RestartSec=10
StandartOutput=journal
StandartError=journal
Environment=RYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
